<extend name="Base:header" />
<block name="content">
	<!-- Form area -->
	<div class="admin-form">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<!-- Widget starts -->
					<div class="widget worange">
						<!-- Widget head -->
						<div class="widget-head">
							<i class="fa fa-lock"></i> Login
						</div>

						<div class="widget-content">
							<div class="padd">
								<!-- Login form -->
								<form class="form-horizontal" method="post" action="">
									<!-- Username -->
									<div class="form-group">
										<label class="control-label col-lg-3" for="Username">Username</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="Username" placeholder="用户名">
										</div>
									</div>
									<!-- Password -->
									<div class="form-group">
										<label class="control-label col-lg-3" for="inputPassword">passWord</label>
										<div class="col-lg-9">
											<input type="password" class="form-control" id="inputPassword" placeholder="密码">
										</div>
									</div>
									<!-- Remember me checkbox and sign in button -->
									<div class="form-group">
										<div class="col-lg-9 col-lg-offset-3">
											<div class="checkbox">
												<label>
													<input type="checkbox"> Remember me
												</label>
											</div>
										</div>
									</div>
									<div class="col-lg-9 col-lg-offset-3">
										<button type="submit" class="btn btn-info btn-sm">登录</button>
										<button type="reset" class="btn btn-default btn-sm">取消</button>
									</div>
									<br />
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
