        <div class="span9">
            <h1 class="page-title">约伙伴</h1>
            
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th >#</th>
                    <th >用户名</th>
                    <th >性别</th>
                    <th >签到</th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['uid']}</td>
                    <td>{$value['nickname']}</td>
                    <td><?php echo $value['sex']==1?"男":"女"; ?></td>
                    <td><?php echo $value['issignal']==1?"已签到":"未签到"; ?></td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
