
<div class="span9">
            <h1 class="page-title">修改密码</h1>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                <form action="{:U('Home/Index/chpwHandle')}" method="POST">
                    <input type="hidden" name="adminid" value="<?php echo $_GET['adminid'] ?>">
                    <label>旧密码：</label>
                    <input type="text" value="" class="input-xlarge" name="oldpass">
                    <label>新密码：</label>
                    <input type="password" value="" class="input-xlarge" name="newpass">
                    <label>确认新密码：</label>
                    <input type="password" value="" class="input-xlarge" name="newpasss">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary"><i class="icon-save"></i> 确定</button>
                </form>
                  </div>
              </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
              </div>
            </div>

        </div>
    </div>