        <div class="span9">
            <h1 class="page-title">用户</h1>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>电话</th>
                    <th>昵称</th>
                    <th>性别</th>
                    <th>状态</th>
                    <th>注册时间</th>
                    <th style="width: 26px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['uid']}</td>
                    <td>{$value['tel']}</td>
                    <td>{$value['nickname']}</td>
                    <td><?php echo $value['sex']==1?'男':'女'; ?></td>
                    <td><?php echo $value['isdeny']==1?'封停中':'启用中'; ?></td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
            <?php if ($value['isdeny']==0) { ?>
                        <a href="{:U('Home/Index/denyUser',array('uid'=>$value['uid']))}" role="button" data-toggle="modal"><abbr title="禁用"><i class="icon-remove"></abbr></i></a>
            <?php }else{ ?>
                        <a href="{:U('Home/Index/denyUser',array('uid'=>$value['uid']))}" role="button" data-toggle="modal"><abbr title="启用"><i class="icon-ok"></i></abbr> </a>
            <?php } ?>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>