    <script language = "JavaScript">
        function selectChange()
        { 
            var obj=document.getElementById('select'); 
            var index=obj.selectedIndex; //序号，取当前选中选项的序号 
            var val = obj.options[index].value;
            removeAll();
            getDate(val);
        }

        function addOption(titledata){
            //根据id查找对象， 
            var obj=document.getElementById('mySelect1'); 
            //添加一个选项 
            for (var i in titledata) {
              obj.options.add(new Option(titledata[i]['title'],titledata[i]['linkid']));
              // alert(titledata[i]['title']);
            };
        } 

        function removeAll(){ 
            var obj=document.getElementById('mySelect1'); 
            obj.options.length=0;
        }

        function getDate(type){
          $.ajax({
             url: "{:U('Home/News/ajaxGetList')}",
             data:"type="+type,
             type: 'post',
             dataType: 'json',
             success:function(data){
                if (data.code==200) {
                  addOption(data.data);
                }else{
                  alert("获取数据失败~");
                };
             }
          });
        } 

    </script>
<div class="span9">
            <h1 class="page-title">添加banner</h1>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                <form id="tab" action="{:U('Home/News/addBannerHandle')}" method="POST" enctype="multipart/form-data">
                    <label>标题：</label>
                    <input type="text" value="" class="input-xlarge" name="title">                    
                    <label>缩略图：</label>
                    <input type="file" value="" name="img">
                    <label>排序：</label>
                    <input type="text" value="" class="input-xlarge" name="sort">
                    <br>
                    <label>链接内容：</label>

                    <select name="type" id="select" class="input-xlarge" onChange="selectChange()" style="width:8%">
                          <option value="2" selected="selected">--请选择--</option>
                          <option value="0">广告</option>
                          <option value="1">新闻</option>
                    </select>

                    <select name="linkid" class="input-xlarge" id="mySelect1" style="width:50%">
                          <option selected="selected">--请选择--</option>
                    </select>
                    <label>&nbsp;</label>
                    <button class="btn btn-primary"><i class="icon-save"></i> 确定</button>
                </form>
                  </div>
              </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
              </div>
            </div>

        </div>
    </div>
