        <div class="span9">
            <h1 class="page-title">评论列表</h1>
           
          </div>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span2">评论者</th>
                    <th class="span5">评论内容</th>
                    <th class="span2">评论时间</th>
                    <th style="width: 26px;"></th>  
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td class="span2">{$value['nickname']}</td>
                    <td class="span5">{$value['content']}</td>
                    <td class="span2">{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="{:U('Home/News/delComent',array('newscommentid'=>$value['newscommentid'],'newsid'=>$_GET['newsid']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
