<!-- 配置文件 -->
<script type="text/javascript" src="{:C('host')}/Public/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="{:C('host')}/Public/ueditor/ueditor.all.js"></script>
<div class="span9">
            <h1 class="page-title">添加广告</h1>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                <form id="tab" action="{:U('Home/News/editAdHandle')}" method="POST" enctype="multipart/form-data">
                    <label>广告标题：</label>
                    <input type="text" value="{$res['title']}" class="input-xlarge" name="title">
                    <label>广告详情：</label>
                    <script name="content" id="container" style="width:98%;height:500px;">{$res['content']}</script>
                    <input type="hidden" name="adid" value="<?php echo $_GET['adid'] ?>">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary"><i class="icon-save"></i> 确定</button>
                </form>
                  </div>
              </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
              </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>