        <div class="span9">
            <h1 class="page-title">新闻列表</h1>
            <div class="btn-toolbar">
              <a href="{:U('Home/News/addNews')}"><button class="btn btn-primary"><i class="icon-plus"></i>添加</button></a>
            <div class="btn-group">
            </div>
          </div>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span1">类别</th>
                    <th class="span1">标题</th>
                    <th class="span1">简介</th>
                    <th class="span1">标签</th>
                    <th class="span1">评论数</th>
                    <th class="span1">添加时间</th>
                    <th style="width: 26px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td><?php echo $value['type']==0?'篮球':'足球'; ?></td>
                    <td>{$value['newstitle']}</td>
                    <td>{$value['newsdesc']}</td>
                    <td>{$value['newstag']}</td>
                    <td><a href="{:U('Home/News/commentList',array('newsid'=>$value['newsid']))}">{$value['commentcount']}</a></td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="{:U('Home/News/editNews',array('newsid'=>$value['newsid']))}" role="button" data-toggle="modal"><i class="icon-edit"></i></a>
                        <a href="{:U('Home/News/delNews',array('newsid'=>$value['newsid']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
