        <div class="span9">
            <h1 class="page-title">评论回复列表</h1>
            
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span1">#</th>
                    <th class="span1">用户</th>
                    <th class="span1">回复用户</th>
                    <th class="span4">评论内容</th>
                    <th class="span1">评论时间</th>
                    <th style="width: 26px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['pyqplhfid']}</td>
                    <td>{$value['nickname']}回复</td>
                    <td>{$value['hfnickname']}</td>
                    <td>{$value['content']}</td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="{:U('Home/Pyq/delPyqplhf',array('pyqplid'=>$_GET['pyqplid'],'pyqplhfid'=>$value['pyqplhfid']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
