
<div class="span9">
            <h1 class="page-title">添加联赛</h1>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                <form id="tab" action="{:U('Home/Match/addMatchLeagueHandle')}" method="POST" enctype="multipart/form-data" onSubmit="bf()">
                    <label>联赛名称</label>
                    <input type="text" value="" class="input-xlarge" name="name">
                    <label>联赛图片</label>
                    <input type="file" value="" class="input-xlarge" name="img">
                    <label>联赛描述</label>
                    <input type="text" value="" class="input-xlarge" name="desc">
                    <label>联赛地区</label>
                    <select  id="select" class="input-xlarge" onChange="selectChange()" style="width:15%">
                          <option>--请选择市--</option>
                    </select>
                    <a href="#addP" role="button" data-toggle="modal" onClick="clp()">添加市</a>
                    <br>
                    <select class="input-xlarge" id="mySelect1" style="width:15%">
                          <option>--请选择县--</option>
                    </select>
                    <input type="hidden" name="location" id="location"> 
                    <a href="#addP" role="button" data-toggle="modal" onClick="addname()">添加区县</a>
                    <input type="hidden" value="<?php echo $_GET['type'] ?>" name="type">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary"><i class="icon-save"></i> 确定</button>
                </form>
                  </div>
              </div>

            </div>

            <div class="modal small hide fade" id="addP" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnc">×</button>
                    <h3 id="matchModalLabel">添加市</h3>
                </div>
                  <div class="modal-body">
                      <input type="hidden" value="0" name="pid" id="pid">
                      <p id="pn"></p>
                      <input type="text" value="" class="input-xlarge" name="name" id="pname">
                  </div>
                  <div class="modal-footer">
                      <input type="button" value="确定" onClick="addP()">
                  </div>
            </div>

        </div>
    </div>

    <script language = "JavaScript">
        var s = null;
        function selectChange()
        { 
            var obj=document.getElementById('select'); 
            var index=obj.selectedIndex; //序号，取当前选中选项的序号 
            var val = obj.options[index].value;
            removeAll();
            getDate(val,1);
        };

        function addOption(titledata,index){
            //根据id查找对象， 
            if (index == 0) {
              var obj=document.getElementById('select'); 
            }else{
              var obj=document.getElementById('mySelect1'); 
            };
            
            //添加一个选项 
            for (var i in titledata) {
              obj.options.add(new Option(titledata[i]['name'],titledata[i]['aid']));
              // alert(titledata[i]['title']);
            };
        } ;

        function removeAll(){ 
            var obj=document.getElementById('mySelect1'); 
            obj.options.length=0;
        };

        function getDate(pid,index){
          $.ajax({
             url: "{:U('Home/Match/ajaxGetP')}",
             data:"pid="+ pid,
             type: 'post',
             dataType: 'json',
             success:function(data){
                if (data.code==200) {
                  addOption(data.data,index);
                }else{
                  alert("获取数据失败~");
                };
             }
          });
        };

        function addname(){
          var obj=document.getElementById('select'); 
          var index=obj.selectedIndex; //序号，取当前选中选项的序号 
          var val = obj.options[index].value;
          var name = obj.options[index].innerHTML;
          document.getElementById('pn').innerHTML = name + ':';
          document.getElementById('pid').value = val;
          s = 'mySelect1';
          // alert(name);
        };

        function clp(){
          document.getElementById('pid').value = 0;
          document.getElementById('pn').innerHTML = '';
          s = 'select';
        };

        function bf(){
          var obj=document.getElementById('mySelect1'); 
          var index=obj.selectedIndex; //序号，取当前选中选项的序号 
          var name = obj.options[index].value;
          document.getElementById('location').value = name;
        };

        function addP(){
          var pid = document.getElementById('pid').value;
          var name = document.getElementById('pname').value;
          if (name == "") {
            alert('城市名不能为空~');return;
          };
          $.ajax({
             url: "{:U('Home/Match/ajaxAddP')}",
             data:"pid="+ pid +"&name=" +name,
             type: 'post',
             dataType: 'json',
             success:function(data){
                if (data.code==200) {
                  var op = document.getElementById(s).innerHTML;
                  var add = "<option selected=\"selected\" value=\""+ data.data +"\">" + name + "</option>"
                  document.getElementById(s).innerHTML = op + add;
                  $("#btnc").click();
                  getDate(data.data,pid);
                }else{
                  alert("获取数据失败~");
                };
             }
          });
        };
        getDate(0,0);


    </script>