        <div class="span9">
            <h1 class="page-title">比赛数据</h1>
              <h5>{$ateamname}</h5>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span2">昵称</th>
                    <th class="span2">球衣号</th>
                    <th class="span2">进球(得分)</th>
                    <th class="span3">助攻</th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($ateamData as $key => $value) { ?>
                  <tr>
                    <td>{$value['nickname']}</td>
                    <td>{$value['playernum']}</td>
                    <td>{$value['goal']}</td>
                    <td>{$value['assists']}</td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <br/>
              <h5>{$bteamname}</h5>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span2">昵称</th>
                    <th class="span2">球衣号</th>
                    <th class="span2">进球(得分)</th>
                    <th class="span3">助攻</th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($bteamData as $key => $value) { ?>
                  <tr>
                    <td>{$value['nickname']}</td>
                    <td>{$value['playernum']}</td>
                    <td>{$value['goal']}</td>
                    <td>{$value['assists']}</td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>

        



        </div>
    </div>