        <div class="span9">
            <h1 class="page-title">联赛列表</h1>
            <div class="btn-toolbar">
              <a href="{:U('Home/Match/addMatchLeague',array('type'=>$_GET['type']))}"><button class="btn btn-primary"><i class="icon-plus"></i>添加联赛</button></a>
            <div class="btn-group">
            </div>
          </div>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span1">编号</th>
                    <th class="span1">名称</th>
                    <th class="span1">描述</th>
                    <th class="span1">场次</th>
                    <th class="span1">地区</th>
                    <th class="span1">新闻</th>
                    <th class="span1">添加时间</th>
                    <th style="width: 26px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['matchleagueid']}</td>
                    <td>{$value['name']}</td>
                    <td>{$value['desc']}</td>
                    <td><a href="{:U('Home/Match/matchList',array('matchleagueid'=>$value['matchleagueid'],'type'=>$_GET['type']))}">{$value['matchCount']}</a></td>
                    <td><?php echo M('area')->where("aid=".$value['location'])->getField('name'); ?></td>
                    <td><a href="{:U('Home/Match/newsList',array('matchleagueid'=>$value['matchleagueid']))}">{$value['newsCount']}</a></td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="{:U('Home/Match/delMatchLeague',array('matchleagueid'=>$value['matchleagueid'],'type'=>$_GET['type']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
