        <div class="span9">
            <h1 class="page-title">赛事列表</h1>
            <div class="btn-toolbar">
              <a href="#myModal" data-toggle="modal"><button class="btn btn-primary"><i class="icon-plus"></i>添加</button></a>
            <div class="btn-group">
            </div>
          </div>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th class="span1">分组</th>
                    <th class="span1">比赛日期</th>
                    <th class="span1">比赛地点</th>
                    <th class="span1">球队</th>
                    <th class="span1">比分</th>
                    <th class="span1">支持</th>
                    <th class="span1">添加时间</th>
                    <th style="width: 36px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['fenzu']}</td>
                    <td>{:date('Y-m-d H:i',$value['date'])}</td>
                    <td>{$value['matchlocation']}</td>
                    <td>{$value['ateamname']}-{$value['bteamname']}</td>
                    <td><a href="{:U('Home/match/matchResultData',array('matchid'=>$value['matchid']))}">{$value['ateamscore']}:{$value['bteamscore']}</a></td>
                    <td>{$value['ateamsupport']}:{$value['bteamsupport']}</td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="#matchModal" role="button" data-toggle="modal" onclick="doneMatch({$value['matchid']})"><i class="icon-ok"></i></a>
                        <a href="{:U('Home/Match/delMatch',array('matchid'=>$value['matchid'],'matchleagueid'=>$_GET['matchleagueid'],'type'=>$_GET['type']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                        <abbr title="mvp投票开关"><a href="{:U('Home/Match/mvpSupportOff',array('matchid'=>$value['matchid'],'matchleagueid'=>$_GET['matchleagueid'],'type'=>$_GET['type']))}" role="button" data-toggle="modal"><i class="icon-<?php echo $value['mvpsupportoff']==0?'stop':'play'; ?>"></i></a></abbr>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">请上传比赛excel</h3>
            </div>
            <form action="{:U('Home/Match/addMatch',array('type'=>$_GET['type'],'matchleagueid'=>$_GET['matchleagueid']))}" method="post" enctype="multipart/form-data"     style="margin:0 0;">
              <div class="modal-body">
                  <input type="file" name="matchdata"/>
                  <a href="{:U('Home/Match/excelDownload',array('type'=>0))}"><p>模版下载</p></a>
              </div>
              <div class="modal-footer">
                  <input type="submit" value="确定">
              </div>
            </form>
        </div>

        <div class="modal small hide fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="matchModalLabel">请上传比赛结果数据excel</h3>
            </div>
            <form action="{:U('Home/Match/addMatchResultData',array('type'=>$_GET['type']))}" method="post" enctype="multipart/form-data" style="margin:0 0;">
              <div class="modal-body">
                  <input type="file" name="matchdata"/>
                  <input type="hidden" name="matchid" value="" id="donematchid"/>
                  <a href="{:U('Home/Match/excelDownload',array('type'=>1))}"><p>模版下载</p></a>
              </div>
              <div class="modal-footer">
                  <input type="submit" value="确定">
              </div>
            </form>
        </div>

        </div>
    </div>
<script type="text/javascript">
  function doneMatch(id){
        var thisid=id;
        // alert(thisid);
        $("#donematchid").attr("value",thisid);
      }
</script>