        <div class="span9">
            <h1 class="page-title">球队管理</h1>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th>相册名称</th>
                    <th>活动时间</th>
                    <th>照片数量</th>
                    <th>添加时间</th>
                    <th style="width: 26px;"></th>
                  </tr>
                </thead>
                <tbody>
    <?php foreach ($res as $key => $value) { ?>
                  <tr>
                    <td>{$value['name']}</td>
                    <td>{$value['date']}</td>
                    <td><a href="{:U('Home/Team/teamImgList',array('teamimgcateid'=>$value['teamimgcateid']))}">{$value['count']}</a></td>
                    <td>{:date('Y-m-d H:i',$value['addtime'])}</td>
                    <td>
                        <a href="{:U('Home/Team/delTeamImgCate',array('teamimgcateid'=>$value['teamimgcateid'],teamid=>$_GET['teamid']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
    <?php } ?>
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  {$page}
              </ul>
          </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

        </div>
    </div>
