<div class="span9">
<h1 class="page-title">相册图片</h1>

    <div class="block">
        <div class="block-body gallery">
            <?php foreach ($res as $key => $value) { ?>
                <img src="{:C('host')}{$value['img']}" class="img-polaroid" style="width:150px;height:150px;">
            <?php } ?>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>